

.tituloCatalogo > h2{
    margin: 0 0 10px 50px;
    color: var(--text-color);
}
.main-scroll-emalta, .main-scroll-Fmomento, .main-scroll-Smomento{
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
}
 .cover1, .cover2, .cover3{
    width: 100%;
    height: 250px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    
 }
 .scroll-images{
    padding-left: 40px;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
 }
 
 .scroll-images::-webkit-scrollbar{
    -webkit-appearance: none;
 }
 .scroll-images2{
    padding-left: 40px;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
 }
 
 .scroll-images2::-webkit-scrollbar{
    -webkit-appearance: none;
 }
 .scroll-images3{
    padding-left: 40px;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
 }
 
 .scroll-images3::-webkit-scrollbar{
    -webkit-appearance: none;
 }
 .child {
    filter: brightness(0.8);
    min-width: 190px;
    height:100%;
    margin: 1px 8px;
    cursor: pointer;
    overflow: hidden;
 }
 .child-img{
    width: 100%;
    height: 100%;
 }
 .child:hover{
    filter: brightness(1);
    opacity: 100%;
    border: 2px solid white;
    border-radius: 5px;
 }
 .icon1{
    position: absolute;
    z-index: 99;
    color: white;
    background-color: transparent;
    font-size: 50px;
    width: 50px;
    height: 100%;
    outline: none;
    border: none;
    cursor: pointer;
 }
 .icon2{
    position: absolute;
    z-index: 99;
    right: 0;
    color: white;
    background-color: transparent;
    font-size: 50px;
    width: 50px;
    height: 100%;
    outline: none;
    border: none;
    cursor: pointer;
 }
 .icon1::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 50px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.705), transparent);
 }
 .icon2::after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 50px;
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.705), transparent);
}
 .cover1 > .icon1, .icon2{ 
    display: none;
 }
 .cover1:hover > .icon1{
    display: block;
 }
 .cover1:hover > .icon2{
    display: block;
 }
 .cover2 > .icon1, .icon2{
    display: none;
 }
 .cover2:hover > .icon1{
    display: block;
 }
 .cover2:hover > .icon2{
    display: block;
 }
 .cover3 > .icon1, .icon2{
    display: none;
 }
 .cover3:hover > .icon1{
    display: block;
 }
 .cover3:hover > .icon2{
    display: block;
 }